<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dopeteam.ivpref</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.dopeteam.ivpref/ReloadPrefs</string>
			<key>icon</key>
			<string>Images/Enabled.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Size and Location</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Y-Location Percentage</string>
			<key>icon</key>
			<string>Images/yaxis.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>2</real>
			<key>defaults</key>
			<string>com.dopeteam.ivpref</string>
			<key>key</key>
			<string>percentage</string>
			<key>showValue</key>
			<true/>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
			<key>PostNotification</key>
			<string>com.dopeteam.ivpref/ReloadPrefs</string>
			<key>cellClass</key>
  			<string>BetterPSSliderTableCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Volumebar Height:</string>
			<key>icon</key>
			<string>Images/height.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>5</real>
			<key>defaults</key>
			<string>com.dopeteam.ivpref</string>
			<key>key</key>
			<string>height</string>
			<key>showValue</key>
			<true/>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>15</real>
			<key>PostNotification</key>
			<string>com.dopeteam.ivpref/ReloadPrefs</string>
			<key>cellClass</key>
  			<string>BetterPSSliderTableCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Colors</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSTableCell</string>
            <key>cellClass</key>
            <string>HBColorPickerCell</string>
            <key>defaults</key>
            <string>com.dopeteam.ivpref</string>
            <key>PostNotification</key>
            <string>com.dopeteam.ivpref/ReloadPrefs</string>
            <key>key</key>
            <string>foregroundColor</string>
            <key>label</key>
            <string>Foreground Color</string>
            <key>default</key>
            <string>#FFFFFF</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSTableCell</string>
            <key>cellClass</key>
            <string>HBColorPickerCell</string>
            <key>defaults</key>
            <string>com.dopeteam.ivpref</string>
            <key>PostNotification</key>
            <string>com.dopeteam.ivpref/ReloadPrefs</string>
            <key>key</key>
            <string>backgroundColor</string>
            <key>label</key>
            <string>Background Color</string>
            <key>default</key>
            <string>#808080</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
    		<key>big</key>
    		<true/>
    		<key>cellClass</key>
    		<string>HBTwitterCell</string>
    		<key>height</key>
    		<integer>56</integer>
    		<key>label</key>
    		<string>Wizages</string>
    		<key>user</key>
    		<string>wizages</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Images/showSupportEmailController.png</string>
			<key>action</key>
			<string>showSupportEmailController</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>© 2015 Wizages</string>
		</dict>
	</array>
	<key>title</key>
	<string>InstaVolume</string>
</dict>
</plist>
