Package: com.dopeteam.instavolume
Name: InstaVolume
Depends: mobilesubstrate
Version: 0.1.1
Architecture: iphoneos-arm
Description: Instagrams Volume hud for Springboard. The code is highly implemented from logans volume tweak. Thanks logan!!!
Maintainer: dopeteam <wizagesmax@gmail.com>
Author: dopeteam <wizagesmax@gmail.com>
Section: Tweaks
